<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0ut</title>
</head>
<body>
    <nav id="topNav">
        <span><a href="">| placeholder |</a></span>
        <span><a href="">| placeholder |</a></span>
        <span><a href="">| placeholder |</a></span>
        <span><a href="">| placeholder |</a></span>
    </nav>
    <style>
        html * {
            margin: 0;
        }
        body {
            background-color: papayawhip;
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 1024px;
            margin: auto;
        }
        #topNav {
            background-color: peachpuff;
            width: 100%;<!--TODO decorate nav bar-->
            align-items: flex-end;
        }
    </style>

    {{{body}}}

</body>
</html>