<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0utforum</title>
</head>
<body>
    {{> defaults.partial}}
    {{> nav.partial userInSession=userInSession}}

    <style>
        #outLogo {
            width: 512px;
        }
    </style>

    <img id="outLogo" src="/assets/0out.png" alt="logo">

    {{{body}}}

</body>
</html>